body {
  font-family: Helvetica, Arial;
}

#justblock {
  position: absolute;
  width: 120px;
  height: 53px;
  background-color: #323542;
  border-radius: 10px;
  z-index: 3;
  top: 60px;
}

#player {
  /*ตัวเล่น*/
  position: relative;
  height: 100%;
  z-index: -3;

}

#player-track {
  /*ตัวเล่นแทร็ก*/
  position: absolute;
  top: 60px;
  left: 105px;
  background-color: #1f2128;
  opacity: 50%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 246px;
  height: 50px;
  transition: 0.3s ease top;
  z-index: 1;
}

#player-track.active {
  top: 10px;
}

#album-name {
  /*ชื่ออัลบั้ม*/
  position: absolute;
  color: #fff;
  font-size: 17px;
  left: 20px;
  top: 0px;
  font-weight: bold;
}

#track-name {
  /*ชื่อแทร็ก*/
  position: absolute;
  color: #fff;
  font-size: 11px;
  top: 15px;
  left: 20px;
  margin: 2px 0 13px 0;
}

#track-time {
  /*เวลาในแทร็ก*/
  height: 12px;
  margin-bottom: 3px;

}

#current-time {
  /*เวลาปัจจุบัน*/
  float: left;
}

#track-length {
  float: right;
}

#current-time,
#track-length {
  color: transparent;
  font-size: 11px;
  background-color: #fff;
  border-radius: 10px;
  transition: 0.3s ease all;
}

#track-time.active #current-time,
#track-time.active #track-length {

  position: relative;
  color: #fff;
  background-color: transparent;
  position: relative;
  padding-inline: 20px;
  top: 38px;
  font-size: 10px;

}

#s-area {
  /*ตัวบาร์เพลง*/
  background-color: #fff;
  /*  cursor: pointer;*/
  /*ชี้ตัวบาร์เวลาเพลงได้*/
  width: 200px;
  left: 21px;
  top: 5px;
}

#s-area,
/*บาร์เพลง*/
#seek-bar {
  position: absolute;
  top: 35px;
  height: 2px;
  border-radius: 10px
}

#ins-time {
  position: absolute;
  top: -29px;
  color: #fff;
  font-size: 12px;
  white-space: pre;
  padding: 5px 6px;
  border-radius: 4px;
  display: none;
}

#s-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

#ins-time,
#s-hover {
  background-color: #3b3d50;
}

#seek-bar {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #000;
  transition: 0.2s ease width;
  z-index: 1;
}

#player-content {
  /*ตัวเล่นพื้นหลัง*/
  position: relative;
  width: 363px;
  height: 53px;
  background-color: #323542;
  border-radius: 10px;
  z-index: 3;
  top: 60px;
  transition: all 0.5s ease;
}

#discPic img {
  /*ภาพแผ่นเพลง*/
  width: 95px;
  height: 95px;
  position: absolute;
  top: -51px;
  left: 14px;
  z-index: 2;
}

#BorderDisc {
  /*ขอบของแผ่นเพลง*/
  position: absolute;
  width: 93px;
  height: 93px;
  margin-left: 15px;
  box-shadow: 0 0 0 5px #323542;
  border-radius: 50%;
  top: -50px;
}

#album-art {
  /*โชว์ภาพจากยูทูป*/
  top: -35px;
  position: absolute;
  width: 60px;
  height: 60px;
  left: 30px;
  transform: rotateZ(0);
  transition: 0.3s ease all;
  border-radius: 50%;
  overflow: hidden;
  z-index: 3;
}

#album-art:before {
  content: "";
  position: absolute;
  top: 65%;
  right: 0;
  left: 0;
  width: 5px;
  height: 5px;
  margin: -10px auto 0 auto;
  background-color: #000;
  border-radius: 50%;
  z-index: 2;
}

#album-art img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}

#album-art img.active {
  opacity: 1;
  z-index: 1;
}

#album-art.active img.active {
  z-index: 1;
  animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

@keyframes rotateAlbumArt {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}


#buffer-box {
  /*BUFFER BOX*/
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  height: 13px;
  color: #1f1f1f;
  font-size: 13px;
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  padding: 6px;
  margin: -12px auto 0 auto;
  background-color: rgba(255, 255, 255, 0.19);
  opacity: 0;
  z-index: 2;
}

#album-art img,
#buffer-box {
  transition: 0.1s linear all;
}

#album-art.buffering img {
  opacity: 0.25;
}

#album-art.buffering img.active {
  opacity: 0.8;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

#album-art.buffering #buffer-box {
  opacity: 1;
}


.control {/*ตัวควบคุม*/
  position: relative;
  width: 0px;
  padding: 12px 0;
  float: left;
  margin-left: 101px;
  display: inline-flex;
}

.button {
  /*ปุ่ม*/
  width: 30px;
  height: 30px;
  left: 180px;
  border-radius: 5px;
  cursor: pointer;
  top: 15px;
  margin: 0 5px;
}

.button i {
  /*ปุ่ม(i)*/

  display: block;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 1;
  margin: auto; /* เพิ่มบรรทัดนี้ */
}
#HiddingOverFlow {
  /*ซ่อนตัวป็อปอัพส่วนเกิน(ลงล่าง)*/
  position: fixed;
  width: 100%;
  height: 115px;
  bottom: 0px;
  left: 1px;
  overflow: hidden;
  background-color: transparent;

}